nav {
    background-color: khaki;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

/* 
    key-word
    max-height          = tinggi maksimal viewport
    min-height          = tinggi minimsl viewport
    height              = tinggi viewport (termasuk scrollbar)
    max-width           = lebar maksimum
    min-width           = lebar minimum
    width               = lebar viewport (termasuk scrollbar)
    orientation         = landscape / portrait
    resolution          = resolusi layar
    prefer-color-scheme = skema warna (light / dark)
 */

/* 
    @media (key-word: value){
    selector{
        property:value;
    }
*/

@media (max-width: 580px) {
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-container img{
        width: 250px;
    }
}

img {
    width: 550px;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}